@charset "UTF-8";

.p1{
	border:black 5px solid;
    box-sizing: content-box;
    display: inline-block;
}

.p2{
	border:black 5px solid;
    box-sizing: content-box;
    display: inline-block;
    width:200px;
    height:100px;
    
}
section{
	display:block;
}


.p3{
	border:black 5px solid;
    box-sizing: content-box;
    display: inline-block;
    width:200px;
    height:100px;
    position: absolute;
	left:45px;
    top:510px;
    
}

.p4{
	border:black 5px solid;
    box-sizing: content-box;
    display: inline-block;
    width:200px;
    height:100px; 
    position:absolute;
    left:545px;
    top:510px;
    
}


.p5{
	border:black 5px solid;
    box-sizing: content-box;
    display: inline-block;
    width:200px;
    height:100px;  
    position:absolute;
    left:70px;
    top:600px;
}


.p6{
	border:green 5px solid;
    box-sizing: content-box;
    display: inline-block;
    width:200px;
    height:100px;
    position:fixed;
    bottom: 10px;
    right: 10px;
}

img{
	border:black 5px solid;

}
.img2{
	position:absolute;
	left:310px;
	
	
}
.imggrande{
	width:300px;
    height:300px;
    left:225px;
    position:absolute;
    z-index:-1;
	
}
